<template>
  <div class="book">
    <p class="text-muted">
      Your booking status will be found
      <router-link to="/status">here</router-link>. It takes a period of time to
      see the result of your request. Please be patient.
    </p>

    <b-form @submit="onSubmit" @reset.prevent="onReset" v-if="show">
      <div class="d-flex justify-content-between">
        <h1>Registration Form</h1>
        <div>
          <router-link class="mr-3 btn btn-primary text-light" to="/">
            <span class="fas fa-home mr-1" style="font-size:18px;"></span>
            Home</router-link
          >
        </div>
      </div>
      <p class="text-primary">
        <strong>Note: </strong> All Fields are required to be fill
      </p>
      <div v-if="page == 1">
        <p class="mt-3">Name of Resident:</p>
        <div class="d-flex justify-content-between">
          <b-form-group label="Student No">
            <b-form-input
              type="text"
              v-model="data.student_number"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Surname" description="Ex. Dela Cruz">
            <b-form-input
              type="text"
              v-model="data.student_last_name"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="First Name" description="Ex. Juan">
            <b-form-input
              type="text"
              v-model="data.student_first_name"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Middle Name" description="Ex. Paco">
            <b-form-input
              type="text"
              v-model="data.student_middle_name"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-between">
          <b-form-group label="Nickname" description="Ex. Juan">
            <b-form-input
              type="text"
              v-model="data.student_nickname"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Birthdate">
            <b-form-datepicker
              v-model="data.student_birthdate"
              placeholder="Choose a date"
              class="mb-2"
            ></b-form-datepicker>
          </b-form-group>
          <b-form-group label="Sex">
            <b-form-select v-model="data.student_sex" :options="sex">
              <template #first>
                <b-form-select-option :value="''" disabled
                  >Choose Sex</b-form-select-option
                >
              </template>
            </b-form-select>
          </b-form-group>
          <b-form-group label="Weight">
            <b-form-input
              type="text"
              v-model="data.student_weight"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-between">
          <b-form-group label="Religion" description="Ex. Roman Catholic">
            <b-form-input
              type="text"
              v-model="data.student_religion"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Course and Section" description="Ex. BSIT-AI32">
            <b-form-input
              type="text"
              v-model="data.student_course_section"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Height">
            <b-form-input
              type="text"
              v-model="data.student_height"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <p class="mt-3">Parents:</p>
        <div class="d-flex justify-content-start">
          <b-form-group
            label="Mother"
            class="mr-5"
            description="Input N/A in not applicable"
          >
            <b-form-input
              type="text"
              v-model="data.student_mother"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Occupation">
            <b-form-input
              type="text"
              v-model="data.student_mother_occupation"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-start">
          <b-form-group label="Father" class="mr-5">
            <b-form-input
              type="text"
              v-model="data.student_father"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Occupation">
            <b-form-input
              type="text"
              v-model="data.student_father_occupation"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <p class="mt-3 font-italic">Brother/s & Sister/s:</p>
        <p class="font-italic text-muted" style="font-size:13px;">
          Starting with the eldest down to younguest, with their ages.
        </p>
        <p class="text-muted" style="font-size:15px;">
          Example: Jane Doe, 20
        </p>

        <div class="d-flex justify-content-start">
          <b-form-group class="mr-5">
            <b-form-input
              type="text"
              v-model="data.student_sibling_1"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group class="mr-5">
            <b-form-input
              type="text"
              v-model="data.student_sibling_2"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group>
            <b-form-input
              type="text"
              v-model="data.student_sibling_3"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-start">
          <b-form-group class="mr-5">
            <b-form-input
              type="text"
              v-model="data.student_sibling_4"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group class="mr-5">
            <b-form-input
              type="text"
              v-model="data.student_sibling_5"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group>
            <b-form-input
              type="text"
              v-model="data.student_sibling_6"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-start">
          <b-form-group class="mr-5">
            <b-form-input
              type="text"
              v-model="data.student_sibling_7"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group class="mr-5">
            <b-form-input
              type="text"
              v-model="data.student_sibling_8"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group>
            <b-form-input
              type="text"
              v-model="data.student_sibling_9"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <p class="mt-3">Complete Home Address:</p>
        <div class="d-flex justify-content-start">
          <b-form-group class="w-100">
            <b-form-textarea
              v-model="data.student_address"
              placeholder="Enter text"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-start">
          <b-form-group label="Reference Tel. No." class="mr-5">
            <b-form-input
              type="text"
              placeholder="Input here"
              v-model="data.student_telephone_number"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Celphone No.">
            <b-form-input
              type="text"
              placeholder="0000-000-0000"
              v-model="data.student_contact_number"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <p class="mt-3 ">Whom to contact in case of emergency:</p>
        <div class="d-flex justify-content-start">
          <b-form-group label="Name" class="mr-5">
            <b-form-input
              type="text"
              placeholder="Input here"
              v-model="data.guardian_full_name"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Relationship to Resident" class="mr-5">
            <b-form-input
              type="text"
              placeholder="Input here"
              v-model="data.guardian_relationship"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-start">
          <b-form-group label="Home/Office Address/Contact No." class="w-100">
            <b-form-textarea
              v-model="data.guardian_address_contact"
              placeholder="Enter text"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
        </div>
        <p class="mt-3 ">Please indicate any physical ailment(s):</p>
        <div class="d-flex justify-content-start">
          <b-form-group class="w-100">
            <b-form-textarea
              v-model="data.student_ailment_description"
              placeholder="Enter text"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-start">
          <b-form-group label="Blood Type" class="mr-5">
            <b-form-input
              type="text"
              placeholder="Input here"
              v-model="data.student_blood_type"
              trim
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Allergy" class="mr-5">
            <b-form-input
              type="text"
              v-model="data.student_allergy"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-start">
          <b-form-group label="Date" class="mr-5">
            <b-form-datepicker
              id="event-datepicker"
              v-model="data.student_date"
              class="mb-2"
            ></b-form-datepicker>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-end">
          <b-button variant="danger" type="reset" class="mr-3 mb-3 text-light"
            >Reset Fields</b-button
          >
          <b-button
            variant="primary"
            type="submit"
            class="mr-3 mb-3 text-light"
          >
            <span
              class="fas fa-calendar-check mr-1"
              style="font-size:18px;"
            ></span>
            Book</b-button
          >
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
import toastr from "toastr";

export default {
  mounted() {
    document.title = "LNU | SIGN UP - DORM BOOKING AND TRANSACTION SYSTEM";
  },
  data() {
    return {
      data: {
        // Register
        student_number: "",
        student_last_name: "",
        student_first_name: "",
        student_middle_name: "",
        student_nickname: "",
        student_birthdate: "",
        student_sex: "",
        student_weight: "",
        student_height: "",
        student_religion: "",
        student_course_section: "",
        student_address: "",
        student_telephone_number: "",
        student_contact_number: "",
        student_mother: "",
        student_mother_occupation: "",
        student_father: "",
        student_father_occupation: "",
        student_ailment_description: "",
        student_blood_type: "",
        student_allergy: "",
        student_date: "",
        guardian_full_name: "",
        guardian_address_contact: "",
        guardian_relationship: "",
        student_sibling_1: "",
        student_sibling_2: "",
        student_sibling_3: "",
        student_sibling_4: "",
        student_sibling_5: "",
        student_sibling_7: "",
        student_sibling_8: "",
        student_sibling_9: "",
      },
      errors: [],
      siblings: [],
      sex: [
        {
          value: "Male",
          text: "Male",
        },
        {
          value: "Female",
          text: "Female",
        },
      ],
      show: true,
      page: 1,
    };
  },
  methods: {
    async onSubmit(event) {
      event.preventDefault();
      if (!this.validate(this.data)) {
        for (var e in this.errors) {
          toastr.warning(`${this.errors[e]}`, "Failed");
        }
        return;
      }

      this.setSiblings();

      var data = {
        student_number: this.data.student_number,
        student_last_name: this.data.student_last_name,
        student_first_name: this.data.student_first_name,
        student_middle_name: this.data.student_middle_name,
        student_nickname: this.data.student_nickname,
        student_birthdate: this.data.student_birthdate,
        student_sex: this.data.student_sex,
        student_weight: this.data.student_weight,
        student_height: this.data.student_height,
        student_religion: this.data.student_religion,
        student_course_section: this.data.student_course_section,
        student_address: this.data.student_address,
        student_telephone_number: this.data.student_telephone_number,
        student_contact_number: this.data.student_contact_number,
        student_mother: this.data.student_mother,
        student_mother_occupation: this.data.student_mother_occupation,
        student_father: this.data.student_father,
        student_father_occupation: this.data.student_father_occupation,
        student_ailment_description: this.data.student_ailment_description,
        student_blood_type: this.data.student_blood_type,
        student_allergy: this.data.student_allergy,
        student_date: this.data.student_date,
        guardian_full_name: this.data.guardian_full_name,
        guardian_address_contact: this.data.guardian_address_contact,
        guardian_relationship: this.data.guardian_relationship,
        siblings: this.siblings,
      };

      const response = await this.$store.dispatch("bookRequest", data);

      if (response.status == 200 || response.status == 201) {
        toastr.success(response.data.message, "Success");
        this.onReset();
        this.$router.push("/");
      } else if (response.status == 401) {
        toastr.error(response.data.message, "Error");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0], "Failed");
        }
      }
    },
    onReset() {
      this.data = {
        student_number: "",
        student_last_name: "",
        student_first_name: "",
        student_middle_name: "",
        student_nickname: "",
        student_birthdate: "",
        student_sex: "",
        student_weight: "",
        student_height: "",
        student_religion: "",
        student_course_section: "",
        student_address: "",
        student_telephone_number: "",
        student_contact_number: "",
        student_mother: "",
        student_mother_occupation: "",
        student_father: "",
        student_father_occupation: "",
        student_ailment_description: "",
        student_blood_type: "",
        student_allergy: "",
        student_date: "",
        guardian_full_name: "",
        guardian_address_contact: "",
        guardian_relationship: "",
        student_sibling_1: "",
        student_sibling_2: "",
        student_sibling_3: "",
        student_sibling_4: "",
        student_sibling_5: "",
        student_sibling_7: "",
        student_sibling_8: "",
        student_sibling_9: "",
      };
      this.siblings = [];
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
        toastr.info("Fields Reset");
      });
    },
    validate(data) {
      this.errors = [];

      if (!data.student_number) {
        this.errors.push("Student Number is required");
      } else {
        if (isNaN(data.student_number)) {
          this.errors.push("Student Number must numeric");
        }
      }
      if (!data.student_last_name) this.errors.push("Last Name is required.");
      if (!data.student_first_name) this.errors.push("First Name is required.");
      if (!data.student_middle_name)
        this.errors.push("Middle Name is required.");
      if (!data.student_nickname) this.errors.push("Nickname is required.");
      if (!data.student_birthdate) this.errors.push("Birthdate is required.");
      if (!data.student_sex) this.errors.push("Student Sex is required.");
      if (!data.student_weight) {
        this.errors.push("Weight is required.");
      } else {
        if (isNaN(data.student_weight)) {
          this.errors.push("Weight must numeric");
        }
      }

      if (!data.student_weight) {
        this.errors.push("Height is required.");
      } else {
        if (isNaN(data.student_height)) {
          this.errors.push("Height must numeric");
        }
      }

      if (!data.student_height) this.errors.push("Height is required.");
      if (!data.student_religion) this.errors.push("Religion is required.");
      if (!data.student_mother) this.errors.push("Mother is required.");
      if (!data.student_mother_occupation)
        this.errors.push("Mother Occupation is required.");
      if (!data.student_father) this.errors.push("Father is required.");
      if (!data.student_father_occupation)
        this.errors.push("Father Occupation is required.");
      if (!data.student_address)
        this.errors.push("Complete Home Address is required.");
      if (!data.student_contact_number)
        this.errors.push("Contact Number is required.");
      if (!data.guardian_full_name)
        this.errors.push("Guardian Full Name is required.");
      if (!data.guardian_relationship)
        this.errors.push("Guardian Relationship is required.");
      if (!data.guardian_address_contact)
        this.errors.push("Guardian Address is required.");
      if (!data.student_ailment_description)
        this.errors.push("Ailment Description is required.");
      if (!data.student_blood_type) this.errors.push("Blood Type is required.");
      if (!data.student_allergy) this.errors.push("Allergy is required.");
      if (!data.student_date) this.errors.push("Date is required.");

      return this.errors.length ? false : true;
    },
    setSiblings() {
      this.siblings = [];

      if (this.data.student_sibling_1) {
        this.siblings.push(this.data.student_sibling_1);
      }
      if (this.data.student_sibling_2) {
        this.siblings.push(this.data.student_sibling_2);
      }
      if (this.data.student_sibling_3) {
        this.siblings.push(this.data.student_sibling_3);
      }
      if (this.data.student_sibling_4) {
        this.siblings.push(this.data.student_sibling_4);
      }
      if (this.data.student_sibling_5) {
        this.siblings.push(this.data.student_sibling_5);
      }
      if (this.data.student_sibling_6) {
        this.siblings.push(this.data.student_sibling_6);
      }
      if (this.data.student_sibling_7) {
        this.siblings.push(this.data.student_sibling_7);
      }
      if (this.data.student_sibling_8) {
        this.siblings.push(this.data.student_sibling_8);
      }
      if (this.data.student_sibling_9) {
        this.siblings.push(this.data.student_sibling_9);
      }
    },
  },
};
</script>

<style scoped>
.book {
  width: 100%;
  padding: 10px 200px 30px 200px;
}
</style>
