<template>
  <div class="landing">
    <div class="overlay"></div>
    <div class="landing-content">
      <img src="@/assets/img/logo.png" alt="" />
      <div class="title">
        <span>LEYTE NORMAL UNIVERSITY</span>
        <span>Dorm Booking and Transaction System</span>
        <div class="mt-3">
          <router-link
            to="/book"
            class="btn mr-3 text-light"
            style="background:#070372 !important;"
          >
            <span
              class="fas fa-calendar-check mr-1"
              style="font-size:18px;"
            ></span>
            Book Now</router-link
          >
          <router-link to="/status" class="btn btn-success mr-3 text-light">
            <span
              class="fas fa-arrow-circle-right mr-1"
              style="font-size:18px;"
            ></span
            >Check Status</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    document.title = "LNU | DORM BOOKING AND TRANSACTION SYSTEM";
  },
};
</script>

<style scoped>
.overlay {
  background: #070372;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/img/lnu-dorm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 750px;
  height: 250px;
  padding: 20px;
  z-index: 100;
}

.title {
  display: flex;
  flex-direction: column;
}

span:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
}

span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
}

span:nth-child(1),
span:nth-child(2) {
  color: #fff;
}

.login {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login span {
  font-size: 20px;
  margin-right: 5px;
}

.login span:hover {
  color: #212529;
}
</style>
