<template>
  <div>
    <div v-if="status == 'Accepted'">
      <b-card
        bg-variant="success"
        text-variant="white"
        header="Success"
        class="text-center"
      >
        <img src="@/assets/img/logo.png" alt="" class="my-3" />
        <b-card-text
          >Congratulations. Your booking request is accepted. Get Ready for the
          inteview
        </b-card-text>
      </b-card>
    </div>
    <div v-else-if="status == 'Payment'">
      <b-card
        bg-variant="success"
        text-variant="white"
        class="text-center d-flex justify-content-center align-items-center"
      >
        <img src="@/assets/img/logo.png" alt="" class="my-3" />
        <b-card-text
          >Hello <strong>{{ student_name }}</strong>, Here is your payment:<br />
        </b-card-text>
      </b-card>
      <table class="table table-hover text-center">
        <thead class="bg-light">
          <tr class="text-success">
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="booking in bookings" :key="booking.id">
            <td class="text-center">
              {{ booking.date_start | moment }}
            </td>
            <td class="text-center">{{ booking.date_end | moment }}</td>
            <td class="text-center">
              {{
                new Intl.NumberFormat("en-PH", {
                  style: "currency",
                  currency: "PHP",
                }).format(booking.payment.total_amount)
              }}
            </td>
            <td
              class="text-center"
              :class="
                booking.payment.status == 'Unpaid'
                  ? 'text-danger font-weight-bold'
                  : 'text-success font-weight-bold'
              "
            >
              {{ booking.payment.status }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else-if="status == 'Declined'">
      <b-card
        bg-variant="danger"
        text-variant="white"
        header="Sorry"
        class="text-center"
      >
        <img src="@/assets/img/logo.png" alt="" class="my-3" />
        <b-card-text>
          Sorry your booking request declined
        </b-card-text>
      </b-card>
    </div>
    <div v-else-if="status == 'Pending'">
      <b-card
        bg-variant="primary"
        text-variant="white"
        header="Good Day"
        class="text-center"
      >
        <img src="@/assets/img/logo.png" alt="" class="my-3" />
        <b-card-text
          >Hello {{ student_name }}, your request is pending. Please wait for
          approval. <br />
        </b-card-text>
      </b-card>
    </div>
    <div v-else>
      <b-card
        bg-variant="dark"
        text-variant="white"
        header="Hello"
        class="text-center"
      >
        <b-card-text>
          Student Number not found. Make a booking request
          <router-link to="/book">here</router-link></b-card-text
        >
      </b-card>
    </div>
    <router-link class="mt-5 btn btn-light text-primary result-btn" to="/">
      <span class="fas fa-home mr-1" style="font-size:18px;"></span>
      Home</router-link
    >
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      paymentList: "",
    };
  },
  filters: {
    moment: (date) => {
      return moment(date).format("MMMM DD, YYYY");
    },
  },
  props: ["status", "student_name", "bookings"],
  mounted() {
    document.title = "LNU | SIGN UP - DORM BOOKING AND TRANSACTION SYSTEM";
  },
};
</script>

<style>
img {
  width: 120px;
  height: 120px;
}

.result-btn {
  position: absolute;
  z-index: 1000;
  top: -40px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-btn span {
  font-size: 20px;
  margin-right: 5px;
}
</style>
