<template>
  <div class="landing">
    <div class="overlay"></div>
    <div class="landing-content">
      <div
        class="d-flex flex-column justify-content-center align-items-center text-center"
      >
        <img src="@/assets/img/logo.png" alt="" class="mb-5" />

        <h2 class="text-light">Dorm Booking and Transaction System</h2>
        <p class="text-light">Check status using your Student Number</p>
      </div>

      <div class="w-100">
        <b-form @submit.prevent="onSubmit">
          <div class="d-flex">
            <b-form-input
              type="text"
              v-model="data.student_number"
              size="lg"
              class="mr-3 w-75"
              placeholder="Student Number"
              trim
            ></b-form-input>
            <b-button
              variant="success"
              type="submit"
              size="lg"
              class="mr-3 text-light"
            >
              <span
                class="fas fa-arrow-circle-right mr-1"
                style="font-size:20px;"
              ></span>
              Check</b-button
            >
          </div>
        </b-form>
      </div>
      <router-link to="/" class="home btn btn-outline-light">
        <span class="fas fa-home"></span>
        Home
      </router-link>
    </div>
  </div>
</template>

<script>
import toastr from "toastr";
export default {
  data() {
    return {
      data: {
        student_number: "",
      },
    };
  },
  methods: {
    async onSubmit() {
      if (!this.data.student_number) {
        toastr.warning("Student Number is required", "Failed");
        return;
      }

      const response = await this.$store.dispatch(
        "checkStatus",
        this.data.student_number
      );

      if (response.status == 200 || response.status == 201) {
        response.data.status === "Payment"
          ? this.$router.push({
              name: "Result",
              params: {
                status: response.data.status,
                student_name: response.data.student_name,
                bookings: response.data.bookings
              },
            })
          : this.$router.push({
              name: "Result",
              params: {
                status: response.data.status,
                student_name: response.data.student_name,
              },
            });
      } else if (response.status == 401) {
        toastr.error(response.data.message, "Error");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0], "Failed");
        }
      }
    },
  },
  mounted() {
    document.title = "LNU | DORM BOOKING AND TRANSACTION SYSTEM";
  },
};
</script>

<style scoped>
.overlay {
  background: #070372;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/img/lnu-dorm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 750px;
  height: 250px;
  padding: 20px;
  z-index: 100;
}

.home {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home span {
  font-size: 20px;
  margin-right: 5px;
}

.home span:hover {
  color: #212529;
}
</style>
