<template>
  <div class="nav">
    <div class="nav-content">
      <span class="text-light mr-3"
        >Welcome,
        {{ currentUser.first_name + " " + currentUser.last_name }}</span
      >
      <button v-on:click.prevent="logout" class="login btn btn-outline-light">
        <span class="fas fa-sign-in-alt"></span>
        Logout
      </button>
    </div>
  </div>
</template>

<script>
import toastr from "toastr";
export default {
  data() {
    return {
      currentUser: {},
    };
  },
  props: ["user", "title"],
  mounted() {
    document.title = "qweqwe";
    setInterval(() => {
      this.currentUser = this.user || "";
    }, 1000);
  },
  methods: {
    async logout() {
      const response = await this.$store.dispatch("logoutUser");
      console.log(response);
      if (!response.status == undefined) {
        toastr.error("Something wrong. Try again later.", "Error");
      } else {
        if (response.status == 200) {
          toastr.success("Successfully logged out.", "OK");
          this.$router.push({ name: "Login" });
        }
      }
    },
  },
};
</script>

<style>
.nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #001f86;
  z-index: 100;
}

.nav-content {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
