<template>
  <div id="app">
    <div class="sidebar">
      <img src="@/assets/img/logo.png" class="img-fluid sidebar-logo mt-5" />
      <span class="mt-3 mb-3 text-light">Admin Home</span>
      <router-link
        to="/admin/home/dashboard"
        class="sidebar-link nav-link"
        :class="
          this.$route.name == 'Dashboard'
            ? 'active-link nav-link text-light'
            : 'text-light'
        "
      >
        <span class="fas fa-chart-line ml-2 mr-3"></span>Dashboard</router-link
      >
      <router-link
        to="/admin/home/booking"
        class="sidebar-link nav-link"
        :class="
          this.$route.name == 'Booking'
            ? 'active-link nav-link text-light'
            : 'text-light'
        "
      >
        <span class="fas fa-calendar-check ml-2 mr-3"></span
        >Booking</router-link
      >
      <router-link
        to="/admin/home/request"
        class="sidebar-link nav-link"
        :class="
          this.$route.name == 'Request'
            ? 'active-link nav-link text-light'
            : 'text-light'
        "
      >
        <span class="fas fa-envelope-open ml-2 mr-3"></span
        >Request</router-link
      >
      <router-link
        to="/admin/home/rooms"
        class="sidebar-link nav-link"
        :class="
          this.$route.name == 'Rooms'
            ? 'active-link nav-link text-light'
            : 'text-light'
        "
      >
        <span class="fas fa-home ml-2 mr-3"></span>Rooms</router-link
      >
      <router-link
        to="/admin/home/transaction"
        class="sidebar-link nav-link"
        :class="
          this.$route.name == 'Transaction'
            ? 'active-link nav-link text-light'
            : 'text-light'
        "
      >
        <span class="fas fa-money-bill-alt ml-2 mr-3"></span
        >Transaction</router-link
      >
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      user: "",
    };
  },
  mounted() {},
};
</script>
<style scoped>
.sidebar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 300px;
  height: 100vh;
  flex-direction: column;
  background: #001f86;
  z-index: 200;
}

.sidebar-link {
  padding: 20px;
  width: 300px;
}
.sidebar-logo {
  width: 85px;
}

.active-link {
  background: rgba(255, 255, 255, 0.3);
  font-size: 18px;
}
</style>
