<template>
  <div class="booking">
    <div class="booking-content">
      <div class="d-flex p-3 justify-content-between align-items-center">
        <h3>List of Booking</h3>
        <button
          class="btn mr-2 btn-success"
          v-on:click.prevent="$bvModal.show('add-booking')"
        >
          New Booking
        </button>
      </div>
      <table class="table table-hover">
        <thead style="background: #001f86">
          <tr class="text-light">
            <th scope="col">#</th>
            <th scope="col">Student No.</th>
            <th scope="col">Room</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Amount</th>
            <th scope="col" class="text-center">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in bookings" :key="book.id">
            <th scope="row"></th>
            <td>{{ book.student.student_number }}</td>
            <td>{{ `${book.room.room_floor} - ${book.room.room_number}` }}</td>
            <td>{{ book.date_start | moment }}</td>
            <td>{{ book.date_end | moment }}</td>
            <td>
              {{
                new Intl.NumberFormat("en-PH", {
                  style: "currency",
                  currency: "PHP",
                }).format(book.amount)
              }}
            </td>
            <td class="text-center">
              <button
                class="btn btn-sm mx-1 btn-primary"
                v-on:click="showEdit(book)"
              >
                Edit
              </button>
              <button
                class="btn btn-sm mx-1 btn-danger"
                v-on:click="showDelete(book)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal
      id="update-booking"
      title="Update Booking"
      centered
      ok-title="Update"
      @ok.prevent="UpdateBooking"
    >
      <b-form-group label="Student">
        <b-form-select v-model="data.student_id">
          <template #first>
            <b-form-select-option :value="''" disabled
              >Choose a student</b-form-select-option
            >
          </template>
          <b-form-select-option
            :value="student.id"
            v-for="student in acceptedStudents"
            :key="student.id"
          >
            {{ `${student.last_name} ${student.first_name}` }}
          </b-form-select-option>
        </b-form-select>
      </b-form-group>
      <b-form-group label="Room">
        <b-form-select v-model="data.room_id">
          <template #first>
            <b-form-select-option :value="''" disabled
              >Choose a room</b-form-select-option
            >
          </template>
          <b-form-select-option
            :value="room.id"
            v-for="room in rooms"
            :key="room.id"
          >
            {{ `Room ${room.room_floor} - ${room.room_number}` }}
          </b-form-select-option>
        </b-form-select>
      </b-form-group>
      <b-form-group label="Start Date">
        <b-form-datepicker
          placeholder="Select a date"
          v-model="data.date_start"
          class="mb-2"
        ></b-form-datepicker>
      </b-form-group>
      <b-form-group label="End Date">
        <b-form-datepicker
          placeholder="Select a date"
          v-model="data.date_end"
          class="mb-2"
        ></b-form-datepicker>
      </b-form-group>
      <b-form-group label="Amount" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.amount"
          trim
        ></b-form-input>
      </b-form-group>
    </b-modal>

    <b-modal
      id="add-booking"
      title="Create Booking"
      centered
      ok-title="Book"
      @ok.prevent="CreateBooking"
    >
      <b-form-group label="Student">
        <b-form-select v-model="data.student_id">
          <template #first>
            <b-form-select-option :value="''" disabled
              >Choose a student</b-form-select-option
            >
          </template>
          <b-form-select-option
            :value="student.id"
            v-for="student in acceptedStudents"
            :key="student.id"
          >
            {{ `${student.last_name} ${student.first_name}` }}
          </b-form-select-option>
        </b-form-select>
      </b-form-group>
      <b-form-group label="Room">
        <b-form-select v-model="data.room_id">
          <template #first>
            <b-form-select-option :value="''" disabled
              >Choose a room</b-form-select-option
            >
          </template>
          <b-form-select-option
            :value="room.id"
            v-for="room in rooms"
            :key="room.id"
          >
            {{ `Room ${room.room_floor} - ${room.room_number}` }}
          </b-form-select-option>
        </b-form-select>
      </b-form-group>
      <b-form-group label="Start Date">
        <b-form-datepicker
          placeholder="Select a date"
          v-model="data.date_start"
          class="mb-2"
        ></b-form-datepicker>
      </b-form-group>
      <b-form-group label="End Date">
        <b-form-datepicker
          placeholder="Select a date"
          v-model="data.date_end"
          class="mb-2"
        ></b-form-datepicker>
      </b-form-group>
      <b-form-group label="Amount" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.amount"
          trim
        ></b-form-input>
      </b-form-group>
    </b-modal>

    <b-modal
      id="delete-booking"
      title="Delete"
      centered
      ok-title="Delete"
      @ok="DeleteBooking"
    >
      <p>Are you sure you want to delete this booking?</p>
    </b-modal>
  </div>
</template>

<script>
import toastr from "toastr";
import moment from "moment";
export default {
  data() {
    return {
      data: {
        room_id: "",
        admin_id: "",
        student_id: "",
        date_start: "",
        date_end: "",
        amount: "",
      },
      id: 0,
    };
  },
  filters: {
    moment: (date) => {
      return moment(date).format("MMMM DD, YYYY");
    },
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
    bookings() {
      return this.$store.getters.getBookings;
    },
    acceptedStudents() {
      return this.students.filter((student) => {
        return student.status.status.match("Accepted");
      });
    },
    students() {
      return this.$store.getters.getStudents;
    },
    rooms() {
      return this.$store.getters.getRooms;
    },
  },
  methods: {
    showEdit(book) {
      this.$bvModal.show("update-booking");
      this.id = book.id;
      this.data.student_id = book.student_id;
      this.data.room_id = book.room_id;
      this.data.date_start = book.date_start;
      this.data.date_end = book.date_end;
      this.data.amount = book.amount;
    },
    showDelete(book) {
      this.$bvModal.show("delete-booking");
      this.id = book.id;
      this.data.room_id = book.room_id;
      this.data.student_id = book.student_id;
      this.data.admin_id = book.admin_id;
    },
    async CreateBooking() {
      if (!this.data.student_id) return toastr.warning("Student is required");
      if (!this.data.room_id) return toastr.warning("Room is required");
      if (!this.data.date_start)
        return toastr.warning("Start Date is required");
      if (!this.data.date_end) return toastr.warning("End Date is required");
      if (!this.data.amount) return toastr.warning("Starting Date is required");
      else {
        if (isNaN(this.data.amount)) {
          return toastr.warning("Starting Date is required");
        }
      }

      var data = {
        admin_id: this.user.id,
        room_id: this.data.room_id,
        student_id: this.data.student_id,
        date_start: this.data.date_start,
        date_end: this.data.date_end,
        amount: this.data.amount,
      };

      const response = await this.$store.dispatch("createBooking", data);
      console.log(response);
      if (response.status == undefined) {
        toastr.error("Something wrong. Try again later.", "Error");
      } else {
        if (response.status == 200) {
          toastr.success(response.data.msg, "Success");
          this.$store.dispatch("fetchBookings");
          this.$bvModal.hide("add-booking");
        }
      }
    },
    async UpdateBooking() {
      var data = {
        id: this.id,
        admin_id: this.admin_id,
        room_id: this.data.room_id,
        student_id: this.data.student_id,
        date_start: this.data.date_start,
        date_end: this.data.date_end,
        amount: this.data.amount,
      };

      const response = await this.$store.dispatch("updateBooking", data);

      if (response.status == undefined) {
        toastr.error("Something wrong. Try again later.", "Error");
      } else {
        if (response.status == 200) {
          toastr.success(response.data.msg, "Success");
          this.$store.dispatch("fetchBookings");
          this.$bvModal.hide("update-booking");
        }
      }
    },
    async DeleteBooking() {
      var data = {
        id: this.id,
        room_id: this.data.room_id,
        student_id: this.data.student_id,
        admin_id: this.data.admin_id,
      };
      const response = await this.$store.dispatch("deleteBooking", data);

      if (response.status == undefined) {
        toastr.error("Something wrong. Try again later.", "Error");
      } else {
        if (response.status == 200) {
          this.clearData();
          this.$store.dispatch("fetchBookings");
          toastr.success(response.data.msg, "Success");
          this.$bvModal.hide("delete-booking");
        }
      }
    },
    clearData() {
      this.data = {
        room_id: "",
        student_id: "",
        date_start: "",
        date_end: "",
        amount: "",
      };
    },
  },
  async mounted() {
    document.title = "Booking";
    this.$store.dispatch("fetchBookings");
    this.$store.dispatch("fetchRooms");
    this.$store.dispatch("fetchStudents");
    this.$root.$on("bv::modal::hide", () => {
      this.clearData();
    });
  },
};
</script>

<style>
.booking {
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-content {
  margin-top: 90px;
  width: 950px;
  height: 550px;
}
</style>
