<template>
  <div class="dashboard">
    <div class="dashboard-content">
      <b-card
        bg-variant="light"
        header="Available Room(s)"
        class="text-center w-25 shadow"
      >
        <b-card-text>{{ `${availableRooms} / ${totalRooms}` }}</b-card-text>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    availableRooms() {
      return this.$store.getters.getAvailableRooms;
    },
    totalRooms() {
      return this.$store.getters.getTotalRooms;
    },
  },
  async mounted() {
    document.title = "Dashboard";
    const res = await this.$store.dispatch("checkUser");
    if (res.status == 401 || res.status == 500) {
      localStorage.removeItem("access_token");
      this.$router.push("/admin/login");
    } else if (res.status == 200) {
      if (res.token_status == "expired")
        localStorage.setItem("access_token", res.data.newToken);
    }
    await this.$store.dispatch("totalRooms");
    await this.$store.dispatch("availableRooms");
  },
};
</script>

<style scoped>
.dashboard {
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-content {
  margin-top: 90px;
  width: 950px;
  height: 550px;
}
</style>
