<template>
  <div id="app" class="content-container">
    <Navbar :user="user" />
    <Sidebar />
    <router-view name="dashboard" />
    <router-view name="request" />
    <router-view name="rooms" />
    <router-view name="booking" />
    <router-view name="transaction" />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";

export default {
  components: {
    Navbar,
    Sidebar,
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
  },
  async mounted() {
    const res = await this.$store.dispatch("checkUser");
    if (res.status == 401 || res.status == 500) {
      localStorage.removeItem("access_token");
      this.$router.push("/admin/login");
    } else if (res.status == 200) {
      if (res.token_status == "expired")
        localStorage.setItem("access_token", res.data.newToken);
    }
  },
};
</script>

<style></style>
