<template>
  <div class="request">
    <div class="request-content">
      <div class="d-flex p-3 justify-content-between align-items-center">
        <div class="d-flex justify-content-center align-items-center ">
          Status:

          <b-form-select
            v-model="filter_status"
            :options="statuses"
            class="ml-3"
          >
            <template #first>
              <b-form-select-option :value="''" disabled
                >Choose Status</b-form-select-option
              >
            </template>
          </b-form-select>
        </div>
      </div>
      <table class="table table-hover">
        <thead style="background:#001f86;">
          <tr class="text-light">
            <th scope="col">#</th>
            <th scope="col">Student Number</th>
            <th scope="col">Student Name</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="student in filteredStudents" :key="student.id">
            <th scope="row"></th>
            <td>{{ student.student_number }}</td>
            <td>{{ `${student.first_name} ${student.last_name}` }}</td>
            <td class="text-center">{{ student.status.status }}</td>
            <td class="text-center">
              <b-button
                variant="light"
                class="text-light mx-1"
                v-on:click.prevent="showInfo(student)"
              >
                <span
                  class="fas fa-info text-primary"
                  style="font-size:18px;"
                ></span
              ></b-button>
              <b-button
                variant="light"
                class="text-light mx-1"
                v-if="student.status.status == 'Pending'"
                v-on:click.prevent="showAccept(student.id, student.status.id)"
              >
                <span
                  class="fas fa-check text-success"
                  style="font-size:18px;"
                ></span
              ></b-button>
              <b-button
                variant="light"
                class="text-light mx-1"
                v-if="student.status.status == 'Pending'"
                v-on:click.prevent="showDecline(student.id, student.status.id)"
              >
                <span
                  class="fas fa-times text-danger"
                  style="font-size:18px;"
                ></span
              ></b-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal id="show-info" title="Student Information" hide-footer>
      <div class="m-5">
        <p>
          Student No: <strong>{{ student.student_number }}</strong>
        </p>
        <p>Full Name: {{ student.full_name }}</p>
        <p>Sex: {{ student.sex }}</p>
        <p>Course and Section: {{ student.course_section }}</p>
        <p>Contact Number: {{ student.contact_number }}</p>
        <p>
          Complete Address: <strong>{{ student.complete_address }}</strong>
        </p>
      </div>
    </b-modal>

    <b-modal
      id="accept-request"
      title="Accept Request"
      ok-title="Accept"
      ok-variant="success"
      @ok.prevent="AcceptRequest"
    >
      <p class="text-center">
        Are you sure you want to accept this booking request?
        <span class="text-danger">
          <strong>Note. </strong> This action can't be undone.</span
        >
      </p>
    </b-modal>

    <b-modal
      id="decline-request"
      title="Decline Request"
      ok-title="Decline"
      ok-variant="danger"
      @ok.prevent="DeclineRequest"
    >
      <p class="text-center">
        Are you sure you want to decline this booking request?
        <span class="text-danger">
          <strong>Note. </strong> This action can't be undone.</span
        >
      </p>
    </b-modal>
  </div>
</template>

<script>
import toastr from "toastr";
export default {
  data() {
    return {
      data: {
        room_floor: "",
        room_number: "",
        description: "",
        bed_number: "",
        total_bed: "",
      },
      id: 0,
      errors: [],
      statuses: [
        {
          value: "",
          text: "All",
        },
        {
          value: "Accepted",
          text: "Accepted",
        },
        {
          value: "Declined",
          text: "Declined",
        },
        {
          value: "Pending",
          text: "Pending",
        },
      ],
      status: "",
      filter_status: "",
      student_id: 0,
      status_id: 0,
      student: {
        student_number: "",
        full_name: "",
        age: "",
        sex: "",
        contact_number: "",
        course_section: "",
        complete_address: "",
      },
    };
  },
  computed: {
    students() {
      return this.$store.getters.getStudents;
    },
    filteredStudents() {
      return this.students.filter((student) => {
        return student.status.status.match(this.filter_status);
      });
    },
  },
  methods: {
    //Show
    showAccept(student_id, status_id) {
      this.$bvModal.show("accept-request");
      this.student_id = student_id;
      this.status_id = status_id;
    },
    showDecline(student_id, status_id) {
      this.$bvModal.show("decline-request");
      this.student_id = student_id;
      this.status_id = status_id;
    },
    showInfo(student) {
      this.$bvModal.show("show-info");
      this.student.student_number = student.student_number;
      this.student.full_name = `${student.first_name} ${student.last_name}`;
      this.student.sex = student.sex;
      this.student.course_section = student.course_section;
      this.student.contact_number = student.contact_number;
      this.student.complete_address = student.address;
    },
    async AcceptRequest() {
      var data = {
        student_id: this.student_id,
        status_id: this.status_id,
      };

      const response = await this.$store.dispatch("acceptRequest", data);
      if (typeof response.status === "undefined") {
        toastr.error("Something wrong. Try again later", "Error");
      } else {
        if (response.status == 200 || response.status == 201) {
          await this.$store.dispatch("fetchStudents");
          this.$bvModal.hide("accept-request");
          toastr.success(response.data.msg, "Success");
        }
      }
    },
    async DeclineRequest() {
      var data = {
        student_id: this.student_id,
        status_id: this.status_id,
      };

      const response = await this.$store.dispatch("declineRequest", data);
      if (typeof response.status === "undefined") {
        toastr.error("Something wrong. Try again later", "Error");
      } else {
        if (response.status == 200 || response.status == 201) {
          await this.$store.dispatch("fetchStudents");
          this.$bvModal.hide("decline-request");
          toastr.warning(response.data.msg, "Success");
        }
      }
    },
  },
  async mounted() {
    document.title = "Request";
    await this.$store.dispatch("fetchStudents");
  },
};
</script>

<style>
.request {
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-content {
  margin-top: 90px;
  width: 950px;
  height: 550px;
}
</style>
