<template>
  <div class="rooms">
    <div class="rooms-content">
      <div class="d-flex p-3 justify-content-between align-items-center">
        <div class="d-flex justify-content-center align-items-center "></div>
        <div class="d-flex justify-content-center align-items-center">
          <b-form-input class="mr-5" placeholder="Search Room"></b-form-input>
          <b-button
            variant="success"
            class="text-light w-50"
            v-on:click="$bvModal.show('new-room')"
            >New Room</b-button
          >
        </div>
      </div>
      <table class="table table-hover">
        <thead style="background:#001f86;">
          <tr class="text-light">
            <th scope="col">Room Name</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Bed Available</th>

            <th scope="col" class="text-center">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="room in rooms" :key="room.id">
            <td class="text-center">{{ `${room.room_floor} - ${room.room_number}` }}</td>
            <td>{{ room.description }}</td>
            <td class="text-center">
              {{
                new Intl.NumberFormat("en-PH", {
                  style: "currency",
                  currency: "PHP",
                }).format(room.price)
              }}
            </td>
            <td class="text-center">{{ room.bed_number }}</td>
            <td class="text-center">
              <b-button
                variant="primary"
                size="sm"
                class="text-light mx-1"
                v-on:click="showEdit(room)"
                >Edit</b-button
              >
              <b-button
                variant="danger"
                size="sm"
                class="text-light mx-1"
                v-on:click="showDelete(room.id)"
                >Delete</b-button
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal
      id="new-room"
      title="New Room"
      centered
      ok-title="Create"
      ok-variant="success"
      @ok.prevent="CreateRoom"
    >
      <b-form-group label="Floor Number" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.room_floor"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Room Number" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.room_number"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Desciption">
        <b-form-textarea
          v-model="data.description"
          placeholder="Enter text"
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-form-group>
      <b-form-group label="Total of Bed(s)" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.bed_number"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Price" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.price"
          trim
        ></b-form-input>
      </b-form-group>
    </b-modal>

    <b-modal
      id="update-room"
      title="Edit"
      centered
      ok-title="Update"
      ok-variant="success"
      @ok.prevent="UpdateRoom"
    >
      <b-form-group label="Floor Number" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.room_floor"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Room Number" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.room_number"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Desciption">
        <b-form-textarea
          v-model="data.description"
          placeholder="Enter text"
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-form-group>
      <b-form-group label="Total of Bed(s)" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.bed_number"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Price" description="Must be numeric">
        <b-form-input
          type="text"
          placeholder="Enter number"
          v-model="data.price"
          trim
        ></b-form-input>
      </b-form-group>
    </b-modal>

    <b-modal
      id="delete-room"
      title="Delete Room"
      ok-title="Delete"
      ok-variant="danger"
      @ok.prevent="DeleteRoom"
    >
      <p>Are you sure you want to delete this room?</p>
    </b-modal>
  </div>
</template>

<script>
import toastr from "toastr";
export default {
  data() {
    return {
      data: {
        room_floor: "",
        room_number: "",
        description: "",
        bed_number: "",
      },
      id: 0,
      errors: [],
    };
  },
  computed: {
    rooms() {
      return this.$store.getters.getRooms;
    },
  },
  methods: {
    //Show
    showEdit(room) {
      this.$bvModal.show("update-room");
      this.id = room.id;
      this.data = {
        room_floor: room.room_floor,
        room_number: room.room_number,
        description: room.description,
        bed_number: room.bed_number,
        price: room.price,
      };
    },
    showDelete(id) {
      this.$bvModal.show("delete-room");
      this.id = id;
    },
    async CreateRoom() {
      if (!this.validate(this.data)) {
        for (var e in this.errors) {
          toastr.error(`${this.errors[e]}`, "Failed");
        }
        return;
      }

      const response = await this.$store.dispatch("createRoom", this.data);
      if (response.status === "undefined") {
        toastr.error("Something wrong. Try again later", "Error");
      } else {
        if (response.status == 200 || response.status == 201) {
          toastr.success(response.data.msg, "Success");
          this.$bvModal.hide("new-room");
        }
      }
    },
    async UpdateRoom() {
      if (!this.validate(this.data)) {
        for (var e in this.errors) {
          toastr.error(`${this.errors[e]}`, "Failed");
        }
        return;
      }

      var data = {
        id: this.id,
        room_floor: this.data.room_floor,
        room_number: this.data.room_number,
        description: this.data.description,
        bed_number: this.data.bed_number,
        price: this.data.price,
      };

      const response = await this.$store.dispatch("updateRoom", data);

      if (response.status == undefined) {
        toastr.error("Something wrong. Try again later", "Error");
      } else {
        if (response.status == 200 || response.status == 201) {
          toastr.success(response.data.msg, "Success");
          await this.$store.dispatch("fetchRooms");
          this.$bvModal.hide("update-room");
        }
      }
    },
    async DeleteRoom() {
      const response = await this.$store.dispatch("deleteRoom", this.id);

      if (response.status == undefined) {
        toastr.error("Something wrong. Try again later", "Error");
      } else {
        if (response.status == 200 || response.status == 201) {
          toastr.success(response.data.msg, "Success");
          this.$bvModal.hide("delete-room");
        }
      }
    },
    validate() {
      this.errors = [];
      if (!this.data.room_floor) {
        this.errors.push("Room Floor is required.");
      } else {
        if (isNaN(this.data.room_floor)) {
          this.errors.push("Room Floor is must numeric");
        }
      }
      if (!this.data.room_number) {
        this.errors.push("Room Number is required.");
      } else {
        if (isNaN(this.data.room_number)) {
          this.errors.push("Room Number is must numeric");
        }
      }

      if (!this.data.description) {
        this.errors.push("Description is required.");
      }

      if (!this.data.bed_number) {
        this.errors.push("Total Bed is required.");
      } else {
        if (isNaN(this.data.bed_number)) {
          this.errors.push("Total Bed is must numeric");
        }
      }

      if (!this.data.price) {
        this.errors.push("Room Price is required.");
      } else {
        if (isNaN(this.data.price)) {
          this.errors.push("Room Price is must numeric");
        }
      }

      return this.errors.length ? false : true;
    },
    clearData() {
      this.data = {
        room_floor: "",
        room_number: "",
        description: "",
        bed_number: "",
        total_bed: "",
      };
      this.id = 0;
    },
  },
  async mounted() {
    document.title = "Rooms";
    await this.$store.dispatch("fetchRooms");
    this.$root.$on("bv::modal::hide", () => {
      this.clearData();
    });
  },
};
</script>

<style>
.rooms {
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rooms-content {
  margin-top: 90px;
  width: 950px;
  height: 550px;
}
</style>
