<template>
  <div class="transaction">
    <div class="transaction-content">
      <div class="d-flex justify-content-between align-items-center my-3">
        <h3>List of Payment</h3>

        <div class="d-flex justify-content-center align-items-center">
          Status:
          <b-form-select
            v-model="filter_status"
            :options="statuses"
            class="ml-3"
          >
            <template #first>
              <b-form-select-option :value="''" disabled
                >Choose Status</b-form-select-option
              >
            </template>
          </b-form-select>
        </div>
      </div>

      <table class="table table-hover">
        <thead style="background:#001f86;">
          <tr class="text-light">
            <th scope="col">#</th>
            <th scope="col">Student Number</th>
            <th scope="col" class="text-center">Total Payment</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="payment in filteredPayments" :key="payment.id">
            <th scope="row"></th>
            <td>{{ payment.booking.student.student_number }}</td>
            <td class="text-center">
              {{
                new Intl.NumberFormat("en-PH", {
                  style: "currency",
                  currency: "PHP",
                }).format(payment.total_amount)
              }}
            </td>
            <td class="text-center">{{ payment.status }}</td>
            <td class="text-center">
              <b-button
                variant="light"
                class="text-light mx-1"
                v-on:click.prevent="showInfo(payment)"
              >
                <span
                  class="fas fa-info text-primary"
                  style="font-size:18px;"
                ></span
              ></b-button>
              <b-button
                variant="success"
                class="text-light mx-1"
                v-if="payment.status == 'Unpaid'"
                v-on:click.prevent="showPay(payment.id, payment.admin_id)"
              >
                <span
                  class="fas fa-credit-card text-light"
                  style="font-size:14px;"
                ></span>
                Pay</b-button
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal id="show-booking" title="Transaction Information" hide-footer>
      <div class="m-5">
        <p>
          Student No: <strong>{{ info.student_number }}</strong>
        </p>
        <p>Full Name: {{ info.full_name }}</p>
        <p>Start Date: {{ info.date_start | moment }}</p>
        <p>End Date: {{ info.date_end | moment }}</p>
        <p>
          Total Amount:
          <strong>
            {{
              new Intl.NumberFormat("en-PH", {
                style: "currency",
                currency: "PHP",
              }).format(info.total_amount)
            }}
          </strong>
        </p>
        <p>Booking In-charge: {{ info.booking_in_charge }}</p>
      </div>
    </b-modal>

    <b-modal
      id="pay-booking"
      title="Pay"
      ok-title="Pay"
      ok-variant="success"
      @ok.prevent="PayBooking"
    >
      <p class="text-center">
        Are you sure you want pay this booking? <br />
        <span class="text-danger">
          <strong>Note. </strong> This action can't be undone.</span
        >
      </p>
    </b-modal>
  </div>
</template>

<script>
import toastr from "toastr";
import moment from "moment";
export default {
  data() {
    return {
      info: {
        student_number: "",
        full_name: "",
        date_start: "",
        date_end: "",
        total_amount: "",
        booking_in_charge: "",
      },

      payment_id: 0,
      filter_status: "",
      admin_id: 0,
      errors: [],
      statuses: [
        {
          value: "",
          text: "All",
        },
        {
          value: "Paid",
          text: "Paid",
        },
        {
          value: "Unpaid",
          text: "Unpaid",
        },
      ],
    };
  },
  filters: {
    moment: (date) => {
      return moment(date).format("MMMM DD, YYYY");
    },
  },
  computed: {
    payments() {
      return this.$store.getters.getPayments;
    },
    filteredPayments() {
      return this.payments.filter((payment) => {
        return payment.status.match(this.filter_status);
      });
    },
  },
  methods: {
    //Show
    showPay(id, admin_id) {
      this.$bvModal.show("pay-booking");
      this.id = id;
      this.admin_id = admin_id;
    },

    showInfo(payment) {
      this.$bvModal.show("show-booking");
      this.info.student_number = payment.booking.student.student_number;
      this.info.full_name = `${payment.booking.student.first_name} ${payment.booking.student.last_name}`;
      this.info.date_start = payment.booking.date_start;
      this.info.date_end = payment.booking.date_end;
      this.info.total_amount = payment.total_amount;
      this.info.booking_in_charge = `${payment.admin.first_name} ${payment.admin.last_name}`;
      console.log(payment);
    },

    async PayBooking() {
      var data = {
        id: this.id,
        admin_id: this.admin_id,
      };

      const response = await this.$store.dispatch("payBooking", data);
      if (typeof response.status === "undefined") {
        toastr.error("Something wrong. Try again later", "Error");
      } else {
        if (response.status == 200 || response.status == 201) {
          await this.$store.dispatch("fetchPayments");
          this.$bvModal.hide("pay-booking");
          toastr.success(response.data.msg, "Success");
        }
      }
    },
  },
  async mounted() {
    document.title = "Request";
    await this.$store.dispatch("fetchPayments");
  },
};
</script>

<style>
.transaction {
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transaction-content {
  margin-top: 90px;
  width: 950px;
  height: 550px;
}
</style>
