<template>
  <div class="landing">
    <div class="overlay"></div>
    <div class="landing-content">
      <img src="@/assets/img/logo.png" alt="" />
      <div class="title">
        <span>LEYTE NORMAL UNIVERSITY</span>
        <span>Dorm Booking and Transaction System</span>
        <div class="mt-3">
          <router-link to="/admin/signup" class="btn btn-warning mr-3 text-dark"
            >Sign up</router-link
          >
        </div>
      </div>
    </div>
    <router-link to="/admin/login" class="login btn btn-outline-light">
      <span class="fas fa-sign-in-alt"></span>
      Login
    </router-link>
  </div>
</template>

<script>
export default {
  mounted() {
    document.title = "LNU | DORM BOOKING AND TRANSACTION SYSTEM";
  },
};
</script>

<style scoped>
.overlay {
  background: #070372;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/img/lnu-dorm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 750px;
  height: 250px;
  padding: 20px;
  z-index: 100;
}

.title {
  display: flex;
  flex-direction: column;
}

span:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
}

span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
}

span:nth-child(1),
span:nth-child(2) {
  color: #fff;
}

.login {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login span {
  font-size: 20px;
  margin-right: 5px;
}

.login span:hover {
  color: #212529;
}
</style>
