<template>
  <div class="login">
    <div class="overlay"></div>
    <div class="login-content shadow">
      <img src="@/assets/img/logo.png" alt="LNU Logo" />
      <h5>Admin Login</h5>
      <b-form @submit.prevent="onSubmit" class="mt-3 pb-3">
        <b-form-group
          id="input-group-username-email"
          label="Username or Email"
          label-for="input-username-email"
          description="Input your email or username."
        >
          <b-form-input
            id="input-username-email"
            v-model="credential.login"
            type="text"
            placeholder="Enter username or email"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-password"
          label="Password"
          label-for="input-password"
        >
          <b-form-input
            id="input-password"
            v-model="credential.password"
            type="password"
            placeholder="Enter password"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="warning" class="text-light" block
          >Login</b-button
        >
        <p class="mt-2 text-center">
          <small
            >Have an account?<router-link
              class="text-primary"
              to="/admin/signup"
            >
              Sign-up</router-link
            ></small
          >
        </p>
      </b-form>
    </div>
  </div>
</template>

<script>
import toastr from "toastr";
export default {
  data() {
    return {
      credential: {
        login: "",
        password: "",
      },
    };
  },
  methods: {
    async onSubmit() {
      if (!this.credential.login) {
        toastr.error("Please input your username or email");
        return;
      }

      if (!this.credential.password) {
        toastr.error("Please input your password");
        return;
      }
      
      const response = await this.$store.dispatch("loginUser", this.credential);
      if (response.status == undefined) {
        toastr.error("Something wrong. Try again later.", "Error");
      } else {
        if (response.status == 200) {
          toastr.success(response.data.message, "Success");
          this.$router.push("/admin/home/dashboard");
        } else if (response.status == 401) {
          toastr.error(response.data.message, "Error");
        }
      }
    },
  },
  async created() {
    document.title = "LNU | LOG IN - DORM BOOKING AND TRANSACTION SYSTEM";
    const res = await this.$store.dispatch("checkUser");
    if (res.status == 200) {
      this.$router.push("/admin/home/dashboard");
    }
  },
};
</script>

<style scoped>
.overlay {
  background: #070372;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
}
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/img/lnu-dorm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background: #fff;
  padding: 30px;
  z-index: 100;
}

.login-content img {
  margin: 20px 20px;
}
</style>
