<template>
  <div class="signup">
    <div class="overlay"></div>
    <div class="signup-content shadow">
      <div class="signup-title">
        <img src="@/assets/img/logo.png" alt="LNU Logo" />
        <div class="p-3 text-center">
          <h2 class="text-dark">Admin Sign up</h2>
          <br />
          <p>
            Please Sign Up your account to use this system.
          </p>
        </div>
      </div>
      <b-form
        @submit.prevent="onSubmit"
        @reset.prevent="onReset"
        v-if="show"
        class="signup-form"
      >
        <div v-if="!next">
          <b-form-group
            id="input-group-email"
            label="Email"
            label-for="input-email"
            description="Ex. delacruzj@sample.com"
          >
            <b-form-input
              id="input-email"
              v-model="form.email"
              type="text"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-username"
            label="Username"
            label-for="input-username"
            description="Ex. delacruzj123"
          >
            <b-form-input
              id="input-username"
              v-model="form.username"
              type="text"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-password"
            label="Password"
            label-for="input-password"
            description="Please input strong password"
          >
            <b-form-input
              id="input-password"
              v-model="form.password"
              type="password"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-password"
            label="Confirm Password"
            label-for="input-password"
            description="Please confirm your password"
          >
            <b-form-input
              id="input-password"
              v-model="form.password_confirmation"
              type="password"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>
          <div class="pt-3 pb-3">
            <b-button
              variant="dark"
              v-on:click.prevent="next = true"
              class="mr-3 text-light"
              size="sm"
              >Next</b-button
            >
          </div>
        </div>
        <div v-else>
          <b-form-group
            id="input-group-last-name"
            label="Last Name"
            label-for="input-last-name"
            description="Ex. Dela Cruz"
          >
            <b-form-input
              id="input-last-name"
              v-model="form.last_name"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-first-name"
            label="First Name"
            label-for="input-first-name"
            description="Ex. Juan"
          >
            <b-form-input
              id="input-first-name"
              v-model="form.first_name"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-middle-name"
            label="Middle Name"
            label-for="input-middle-name"
            description="Ex. Paco"
          >
            <b-form-input
              id="input-middle-name"
              v-model="form.middle_name"
              placeholder="Input here"
              trim
            ></b-form-input>
          </b-form-group>

          <div class="pt-3 pb-3 d-flex">
            <b-button
              type="submit"
              variant="dark"
              v-on:click.prevent="next = false"
              class="mr-3 text-light"
              size="sm"
              >Previous</b-button
            >
            <b-button type="reset" variant="danger" class="mr-3" size="sm"
              >Clear</b-button
            >
            <div class="ml-auto">
              <b-button
                type="submit"
                variant="warning"
                size="sm"
                class="text-light shadow"
                >Sign Up</b-button
              >
            </div>
          </div>
          <p class="mt-2">
            <small
              >Already have an account?<router-link
                class="text-primary"
                to="/admin/login"
              >
                Log-in</router-link
              ></small
            >
          </p>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import toastr from "toastr";
import { mapActions } from "vuex";

export default {
  mounted() {
    document.title = "LNU | SIGN UP - DORM BOOKING AND TRANSACTION SYSTEM";
  },
  data() {
    return {
      form: {
        last_name: "",
        first_name: "",
        middle_name: "",
        email: "",
        username: "",
        password: "",
        password_confirmation: "",
      },
      errors: [],
      show: true,
      next: false,
    };
  },
  methods: {
    async onSubmit() {
      if (!this.validate(this.form)) {
        for (var e in this.errors) {
          toastr.warning(`${this.errors[e]}`, "Failed");
        }
        return;
      }

      const response = await this.$store.dispatch("signupUser", this.form);
      
      if (response.status == 200 || response.status == 201) {
        toastr.success(response.data.message, "Success");
        this.onReset();
        this.$router.push("/admin/login");
      } else if (response.status == 401) {
        toastr.error(response.data.message, "Error");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0], "Failed");
        }
      }
    },
    onReset() {
      this.form.email = "";
      this.form.username = "";
      this.form.password = "";
      this.form.password_confirmation = "";
      this.form.last_name = "";
      this.form.first_name = "";
      this.form.middle_name = "";

      this.show = false;
      this.$nextTick(() => {
        this.show = true;
        toastr.info("Fields Reset");
      });
    },
    validate(form) {
      this.errors = [];

      if (!form.email) {
        this.errors.push("Email is required.");
      } else {
        if (!this.validEmail(form.email)) {
          this.errors.push("Valid Email is required.");
        }
      }

      if (!form.username) {
        this.errors.push("Username is required.");
      } else {
        if (!this.validUsername(form.username)) {
          this.errors.push("Valid Username is required.");
        }
      }

      if (!form.password) {
        this.errors.push("Password is required.");
      } else {
        if (!(form.password == form.password_confirmation)) {
          this.errors.push("Password mismatch.");
        }
      }
      if (!form.last_name) this.errors.push("Last name is required.");
      if (!form.first_name) this.errors.push("First name is required.");
      if (!form.middle_name) this.errors.push("Middle name is required.");

      return this.errors.length ? false : true;
    },
    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    validUsername(username) {
      var re = /^(?=[a-zA-Z0-9._]{8,20}$)(?!.*[_.]{2})[^_.].*[^_.]$/;
      return re.test(username);
    },
  },
};
</script>

<style>
.signup {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url("../../../assets/img/lnu-dorm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-evenly;
  align-items: center;
}

.signup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 800px;
  height: 600px;
  padding: 20px;
  z-index: 100;
}

.signup-form {
  padding: 10px;
  width: 350px;
}
.signup-title {
  padding: 10px;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-title p {
  text-align: justify;
}

.signup-title img {
  width: 120px;
  margin-bottom: 20px;
}

.overlay {
  background: #d69916;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
}
</style>
