<template>
  <div>
    <img src="../assets/img/notfound.svg" alt="404 Not found image" />
    <h3 class="mt-3">PAGE NOT FOUND</h3>
    <router-link to="/">GO TO HOME</router-link>
  </div>
</template>

<script>
export default {
  mounted() {
    document.title = ":(";
  },
};
</script>

<style scoped>
div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
img {
  width: 400px;
}
</style>
